<!DOCTYPE html>

<html>
    <title>Loot Appraisal</title>
    <body>
        <form method="post" action="/">
            <label for="token_id">Enter your bag id:</label><br>
            <input type="text" name="token_id" value="">
            <input type="submit"/>
        </form>
        {%  if error %}
            <p>{{ error }}</p>
        {% endif %}
        {% if token_id %}
        <p>Bag #{{token_id}}</p>
        <p>Rank {{ token['rank'] }} out of 1316005</p>
        <p>Top {{token['rank']/1316005*100}}%</p>
        <p>Total Greatness: {{ token['total'] }} out of 160</p>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Greatness (0 to 20)</th>
                </tr>
            {% for name in token['items'] %}
                <tr style="color:{{ token['colors'][loop.index0]}}">
                    <td>{{name}} </td>
                    <td>{{token['greatness'][loop.index0]}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        <br>
        <br>
        <br>
        <p>All the bags were ranked according to the sum of greatness of each item.</p>
        <br>
        <br>
        <br>
        <a href="https://twitter.com/joaoabrantis">Creator</a>
        <a href="https://github.com/jpiabrantes/loop_appraisal">Code</a>
    </body>
</html>